.slow_growing {background: #35736C;
 color: #9FE3AF;
}
.space_bubble_cat {background: #000000;
 color: #FFFFFF;
}
.beckys_apple {background: #ffc2c2;
 color: #fa7d95;
}
.fever {background: #13d1d9;
 color: #fff277;
}
.pretty_dark {background: #5c5e5b;
 color: #8ad47c;
}
.manster_mansion {background: #465378;
 color: #ff847c;
}
.opus {background: #000000;
 color: #35609e;
}
.tea_for_two {background: #ae8e9e;
 color: #ebebc8;
}
.camp {background: #A67551;
 color: #FFA860;
}
.mystery_dungeon {background: #DEE3D6;
 color: #567CBD;
}
.tower {background: #1F031D;
 color: #F31700;
}
.jimjam {background: #FEFDC1;
 color: #D15361;
}
